<!DOCTYPE html>
<html xmln:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
    <h1>후기게시판</h1>
    <a href="/auth/index">홈</a>
    <div sec:authorize="!isAuthenticated()"><!--${session.email}세션을 이렇게 model로 안넘겨도 그냥 바로 꺼내쓸수 있다 20210515 편리하다-->
        <a href="/auth/joinpage">회원가입</a>
        <a href="/auth/loginpage">로그인</a>
    </div>

        <div sec:authorize="isAuthenticated()"><!--else문을 모르겠다--><!--이제 세션은 없는건가... 뭔가 알면 편리한데 모르면 한없이 어렵다 학원가서 진짜 집중해서 배워야겠다 20210523-->
            <div sec:authentication="name"></div><!--principaldetail에  getusername을 가져다 쓰는거다-->
            <a href="/mypage">마이페이지</a>
            <a href="#" id="writeArticleLink">글쓰기</a>
            <a href="/logout">로그아웃</a><!--링크 앞에 항상 /붙여야함-->
        </div>
<table>
<tr>
    <th>순서</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일자</th>
        <th>조회수</th>
    </tr>
    <tr th:each="list : ${array}">
        <td th:text="${list.getBid()}"></td>
        <td ><a th:href="@{content(bid=${list.getBid})}" th:text="${list.getTitle}"></a></td> <!--후아 th 진짜 jspl에비해 쓰레기다 진짜 링크거는것도 찾는라 힘들었네 웃기네20210516-->
        <td th:text="${list.getEmail}"></td>
        <td th:text="${list.getCreated}"></td>
        <td th:text="${list.getHit}"></td>
    </tr>
</table>
    <div th:if="${search==false}">
        <div th:if="${currentpage<totalpage}">
            <form action="/auth/boardlist">
                <input type="hidden" name="page" th:value="${currentpage+1}">
                <input type="submit" value="다음">
            </form>
        </div>
            <div th:if="${currentpage>1}">
                <form action="/auth/boardlist">
                <input type="hidden" name="page" th:value="${currentpage-1}">
                <input type="submit" value="이전">
                </form>
            </div>
            <div >[[${currentpage}]]/[[${totalpage}]]</div>
    </div>
        <div th:if="${search==true}">
            <div th:if="${currentpage<totalpage}">
                <form action="/auth/search">
                    <input type="hidden" name="title" th:value="${title}">
                    <input type="hidden" name="page" th:value="${currentpage+1}">
                    <input type="submit" value="다음">
                </form>
            </div>
                <div th:if="${currentpage>1}">
                    <form action="/auth/search">
                    <input type="hidden" name="title" th:value="${title}">
                    <input type="hidden" name="page" th:value="${currentpage-1}">
                    <input type="submit" value="이전">
                    </form>
                </div>
                <div >[[${currentpage}]]/[[${totalpage}]]</div>
            </div>
                <form action="/auth/search">
                <input type="text" name="title" placeholder="검색창">
                <input type="submit" value="검색">
                </form>
<script>
$(function(){
    $('#writeArticleLink').click(function(){
        $.ajax({
            type:"get",
            url:" /confrimEmailCheck",
            success:function(data){
            if(data){
                location.href="/writearticlepage"
            }else{
                alert('이메일인증 부탁드립니다');
            }
        }
        })
    })

})
</script>
</body>
</html>