<!DOCTYPE html>
<html lang="en" xmln:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
</head>
<body>

    

    <div sec:authorize="!isAuthenticated()"><!--세션을 이렇게 model로 안넘겨도 그냥 바로 꺼내쓸수 있다 20210515 편리하다-->
            <a href="/auth/joinpage">회원가입</a>
                <a href="/auth/loginpage">로그인</a>
                    </div>
    <div sec:authorize="isAuthenticated()"><!--else문을 모르겠다-->
        <div sec:authentication="name"></div>
            <a href="/mypage">마이페이지</a>
                <a href="/logout">로그아웃</a>
                    <a href="/showreservationcepage">예약내역</a>
    </div>
    <a href="/auth/boardlist">후기보기</a>
        <a href="/auth/reservationpage">예약하기</a>
            <form action="/auth/email">
                <input type="submit"value="email">
            </form>
            <input type="button" id="1" class="button" value="tests">
            <input type="button" id="2" class="button" value="tests2">
            <input type="button" id="2" class="button" value="tests3">
  <script>
      window.onload=function(){
        var button=document.querySelectorAll('.button');

        button.addEventListener("click",function(){
            var xhr = new XMLHttpRequest(); //new로 생성.
            xhr.open('GET', '/auth/test', true); //open(http메서드, 요청을 처리할 페이지의 url, 요청이 비동기로 처리될 것인지를 지정하는 불리언)
            xhr.send(); //준비된 요청을 전달. 괄호 내에 서버에 전달될 추가 정보 전달할 수도 있음.

            //응답
            xhr.onload = function(data) { //브라우저가 서버로부터 응답을 받으면 onload이벤트가 발생.
           
                alert(data);
            
                }
        })
      
    
        }
  </script>
</body>
</html>