<!DOCTYPE html>
<html lang="en" xmln:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <title>마이페이지</title>
</head>
<body>
    email
    <div sec:authentication="name"></div>
    이름
    <div th:text="${uservo.getName()}"></div>
    가입일
    <div th:text="${uservo.getCreated()}"></div>
    <br>
    <div th:if="${uservo.getEmailcheck()!='true'}">
        <form action="/emailpro" method="POST">
            <input type="text" id="email"  th:value="${uservo.getEmail()}" disabled>
            <input type="hidden" name="email" th:value="${uservo.getEmail()}">
            <input type="button" id="makeinput" value="인증하기">
            <div id="inputarea"></div>
        </form>
    </div>
    <br>
    <a href="/showreservationcepage">예약내역</a>
    <br>
    <a href="/updatepwdpage">비밀번호 변경하러 가기</a>
    <br>
<script>
$(function(){
    $('#makeinput').click(function(){
        $.ajax({
            type:"post",
                url:"/email",
            data:{
               "email":$('#email').val()
            },
            success:function(data){
                if(data){
                    alert('인증완료'); 
                    out();
                }else{
                    alert('죄송합니다 인증에 실패 했습니다 숫자가틀리거나 일시적 오류입니다');
                    out();
                }  
                }
        })
        $('#inputarea').append("<input type='text' name='randomnumber' placeholder='인증번호를 입력해주세요'><br><input type='submit' value='제출'><input type='button' id='cancleinputarea' value='취소'>")
    })
    $('#cancleinputarea').click(function(){
        $('#inputarea').remove();
    })
})

</script>
</body>
</html>