<!DOCTYPE html>
<html lang="en" xmln:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <style>
        .modal{ position:absolute; width:100%; height:100%; background: rgba(0,0,0,0.8); top:0; left:0; display:none;}
        .modal_content{width:400px; height:200px;background:#fff; border-radius:10px;position:relative; top:50%; left:50%;
        margin-top:-100px; margin-left:-200px;text-align:center;box-sizing:border-box; padding:74px 0;line-height:23px; cursor:pointer;}
        #canvas{ position: relative; top: 0%; }
        #text-block {position: absolute;color: black;}
    </style>
    <title>마이페이지</title>
</head>
<body>
    email
    <div sec:authentication="name"></div>
    이름
    <div th:text="${uservo.getName()}"></div>
    가입일
    <div th:text="${uservo.getCreated()}"></div>
    <br>
    <div th:if="${uservo.getEmailcheck()!='true'}">
        <input type="button" class="emailconfrim" value="이메일 인증하기">
        <input type="text" th:value="${uservo.getEmail()}" disabled>
            <input type="button" class="makeinput" value="인증하기">
                    <form action="/auth/emailpro" method="post">
                        <input type="hidden" id="email" name="email" th:value="${uservo.getEmail()}">
                        <input type="text" name="randnum" placeholder="인증번호를입력해주세요">
                        <input type="submit" value="제출">
                    </form>

    </div>
    <div th:if="${uservo.getEmailcheck()=='true'}">
        이메일인증이 완료되었습니다.
    </div>
    <br>
    <a href="/showreservationcepage">예약내역</a>
    <br>
    <a href="/updatepwdpage">비밀번호 변경하러 가기</a>
    <br>
<script>
$(function(){
    $('.makeinput').click(function(){
        $.ajax({
            type:"post",
                url:"/auth/email",
            data:{
               "email":$('#email').val()
            },
            success:function(data){
                if(data){
                    alert('인증번호전송'); 
                }else{
                    alert('죄송합니다 전송에 실패했습니다');
                }  
                }
        });
        $('.inputarea').append("<input type='text' name='randnum' placeholder='인증번호를 입력해주세요'><br><input type='button' class='emailpro' value='제출'><input type='button' id='cancleinputarea' value='취소'>");
    });

    
})

</script>
</body>
</html>