<!DOCTYPE html>
<html lang="en" xmln:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <title>예약내역</title>
</head>
<body>
    <a href="/auth/index">홈</a>
    <div sec:authorize="!isAuthenticated()"><!--세션을 이렇게 model로 안넘겨도 그냥 바로 꺼내쓸수 있다 20210515 편리하다-->
        예약하시려면 로그인 부탁드립니다
        <br>
        <a href="/auth/joinpage">회원가입</a>
        <a href="/auth/loginpage">로그인</a>
    </div>
    <div sec:authorize="isAuthenticated()"><!--else문을 모르겠다-->
            <div sec:authentication="name" ></div>
            <a href="/mypage">마이페이지</a>
            <a href="/logout">로그아웃</a>
    <h3>오늘 예약한 내역</h3>        
        <table>				
                <tr>
                    <th>예약번호</th>
                    <th>예약시간</th>
                    <th>예약자리</th>
                    <th>예약자이메일</th> 
                    <th>예약일자</th>
                </tr>
            <div th:with="array=${array}" ></div>
                <tr th:each="num : ${#numbers.sequence(0,arraysize-1)}">
                        <div th:if="${arraysize>0}">
                                <td >[[${array.get(num).getRid}]]</td>
                                <td>[[${array.get(num).getRequesthour}]]시~[[${array.get(num).getRequesthour+1}]]시</td><!--오 연산도 된다20210528-->
                                <td>[[${array.get(num).getSeat}]]</td>   
                                <td >[[${array.get(num).getRemail}]]</td>
                                <td>[[${array.get(num).getCreated}]]</td>
                                <td>
                                <div th:if="${checkdate.get(num)}">
                                <form action="/reservationupdatepage" method="POST">
                                    <input type="hidden" class="rid" name="rid" th:value="${array.get(num).getRid}">
                                    <input type="hidden"  name="requesthour" th:value="${array.get(num).getRequesthour}">
                                    <input type="hidden"  name="seat" th:value="${array.get(num).getSeat}">
                                    <input type="hidden"  name="remail" th:value="${array.get(num).getRemail}">
                                    <input type="hidden"  name="created" th:value="${array.get(num).getCreated}">
                                    <input type="submit" value="예약변경"></form>
                                </form>
                                <input type="button" class="cancle" value="예약취소">
                            </div>
                        </div>
                    </td>
                </tr>
            </div>			     				     
        </table>
        <h3>전체 예약한 내역</h3>
        <table>				
            <tr>
                <th>예약번호</th>
                <th>예약시간</th>
                <th>예약자리</th>
                <th>예약자이메일</th> 
                <th>예약일자</th>
            </tr>
            <tr th:each="array:${harray}">
                <td >[[${array.getRid}]]</td>
                <td>[[${array.getRequesthour}]]시~[[${array.getRequesthour+1}]]시</td><!--오 연산도 된다20210528-->
                <td>[[${array.getSeat}]]</td>   
                <td >[[${array.getRemail}]]</td>
                <td>[[${array.getCreated}]]</td>
            </tr>				     				     
        </table>
        <div th:if="${currentpage<totalpages}">
            <form action="/showreservationcepage"> 
                <input type="hidden" name="page" th:value="${currentpage+1}">
                <input type="submit" value="다음">
            </form>
        </div>
        <div th:if="${currentpage>1}">
            <form action="/showreservationcepage"> 
                <input type="hidden" name="page" th:value="${currentpage-1}">
                <input type="submit" value="이전">
            </form>
        </div>
        <br>
        [[${currentpage}]]/[[${totalpages}]]
    </div>

<script>
$(function(){
      $('.cancle').click(function(){
          $.ajax({
            type:"post",
            url:"/reservationcancleprocess",
            data:{
               "rid":$('.rid').val(),
            },
            success:function(data){
                if(data==true){
                    alert('예약이 취소 되었습니다');
                    location.href="/showreservationcepage";
                }else{
                    alert('예약 취소에 문제가 생겼습니다 다시시도 바랍니다');
                }
            }
          })
      })
    })
</script>
</body>
</html>